<% object.each do |expense| %>
 
  <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= add_exp_img(expense) %>&nbsp&nbsp&nbsp<%= link_to expense.name, expense_path(expense) %> </h5>
        <p class="card-text">Spent <%= time_ago_in_words(expense.created_at) %> ago</p>
        <p class="card-text">Added by: <%= expense.user.username %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Amount: <%= number_to_currency(expense.amount) %></li>
      </ul>
      <div class="card-body">    
        <%= link_to 'Edit', edit_expense_path(expense), class: "card-link" %>
        <%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' }, class: "card-link" %>
      </div>
      <div class="card-body">  
        <%= add_remove(object, expense) %>
      </div>
  </div>
<% end %>
 