<h2><%= @expense.name %></h2>
	<%= link_to 'Edit', edit_expense_path(@expense)%>
	<%= link_to 'Back', expenses_path%>

	<p>
  	Amount: <%= @expense.amount %> |
		Date: <%= @expense.createdAt %>		
	</p>