<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'groups', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/application_nav' %>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column ">
      
      <div class="text-center">
        <%= render 'shared/alerts' %> 
        <%= yield %>
      </div>

    </div>
  </body>
</html>

        
